In [120]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [121]:
df = pd.read_csv('test.csv')

In [122]:
df

   Id7 HomeOwner      Status   Income Defaulted
0    1       Yes    Employed     High        No
1    2        No    Buisness  Average        No
2    3        No    Employed      Low        No
3    4       Yes    Buisness     High        No
4    5        No  Unemployed  Average       Yes
5    6        No    Buisness      Low        No
6    7       Yes  Unemployed     High        No
7    8        No    Employed  Average       Yes
8    9        No    Buisness      Low        No
9   10        No    Employed  Average       Yes

In [123]:
P_HomeOwner = 0.30
P_NotHomeOwner = 0.70
P_Employed = 0.40
P_Buisness = 0.40
P_Unemployed = 0.20
P_High = 0.30
P_Avg = 0.40
P_Low = 0.30
P_Defaulted = 0.20
P_NotDefaulted = 0.80

In [124]:
P_NotHomeOwner_Given_NotDefaulted = 0.57142
P_High_Given_NotDefaulted = 0.428571
n = 10
P_J = 0
P_H = 0
P_I = 0
P_JY = 0
P_HY = 0
P_IY = 0
count = 0

In [125]:
count = 0
for i in range(n):
    if(df['Defaulted'][i] == 'No') & (df['Status'][i] == 'Buisness'):
         P_J += 1
 
for i in range(n):
     if(df['Defaulted'][i] == 'No'):
                count += 1

                
P_Buisness_Given_NotDefaulted = P_J/count
print(P_J/count)

0.5714285714285714

In [126]:
count = 0
for i in range(n):
    if(df['Defaulted'][i] == 'No') & (df['HomeOwner'][i] == 'No'):
         P_H += 1
 
for i in range(n):
     if(df['Defaulted'][i] == 'No'):
            count += 1

                
P_Buisness_Given_NotHomeOwner = P_H/count
print(P_H/count)

0.5714285714285714

In [127]:
count = 0
for i in range(n):
    if(df['Defaulted'][i] == 'No') & (df['Income'][i] == 'High'):
         P_I += 1
 
for i in range(n):
     if(df['Defaulted'][i] == 'No'):
            count += 1

                
P_Buisness_Given_High = P_H/count
print(P_I/count)

0.42857142857142855

In [128]:
#p(no|no,buisness,high)
#p(no)*p(no|no)*p(buisness|no)*p(high|no))

P_No = 0.7 * 0.42857142857142855 * 0.5714285714285714 * 0.5714285714285714

print(P_No)

0.09795918367346937

In [129]:
count = 0
for i in range(n):
    if(df['Defaulted'][i] == 'Yes') & (df['Status'][i] == 'Buisness'):
         P_JY += 1
 
for i in range(n):
     if(df['Defaulted'][i] == 'Yes'):
                count += 1

                
P_Buisness_Given_Defaulted = P_JY/count
print(P_JY/count)

0.0

In [130]:
count = 0
for i in range(n):
    if(df['Defaulted'][i] == 'Yes') & (df['HomeOwner'][i] == 'No'):
         P_HY += 1
 
for i in range(n):
     if(df['Defaulted'][i] == 'Yes'):
                count += 1

                
P_Buisness_Given_Defaulted = P_JY/count
print(P_HY/count)

1.0

In [131]:
count = 0
for i in range(n):
    if(df['Defaulted'][i] == 'Yes') & (df['Income'][i] == 'High'):
         P_IY += 1
 
for i in range(n):
     if(df['Defaulted'][i] == 'Yes'):
                count += 1

                
P_Buisness_Given_Defaulted = P_JY/count
print(P_IY/count)

0.0

In [136]:
P_Yes = 0.3 * 1.0 * 0.0 * 0.0

In [138]:
if(P_No > P_Yes):
    print("Classified as No")
else:
    print("Classified as Yes")

Classified as No